.navbar {
    position: fixed;
    top: 105px;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $red-color;
    color: $white-text-color;
    z-index: 2;

    .logo {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        i {
            font-size: 22px;
            margin-right: 10px;
        }
    }

    .cart-nav-wrapper {
        flex-basis: 114px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 20px;
        }

        .cart {
            padding: 6px 12px;
            background-color: $black-color;
            border-radius: 5px;
            position: relative;

            &::before {
                content: '0';
                position: absolute;
                right: 0;
                top: 0;
                height: 18px;
                line-height: 18px;
                transform: translate(50%, -50%);
                background-color: $white-text-color;
                padding: 0 6px;
                border-radius: 50%;
                color: $black-color;
                font-size: 11px;

            }
        }


        .hamburger {
            padding: 18px;
        }

        .hamburger.active {
            z-index: 3;
            background-color: $black-color;
            border-radius: 5px;
        }
    }

    nav {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        padding-top: 140px;
        padding-bottom: 30px;
        z-index: 1;
        background-color: $red-color;
        text-align: center;
        line-height: 1.5;
        transform: translateX(100%);
        transition: transform 0.3s;
        text-transform: capitalize;



        .nav-link {
            display: block;
            color: $white-text-color;
            font-size: 30px;
            padding: 4px 10px;
            margin: 0 20px;

        }
    }

    nav.active {
        transform: translateX(0);
    }


}