//     Section content 

//      01 - Global
//      02 - Section Support
//      03 - Section Safe
//      04 - Section Products
//      05 - Section Shop Local

//      ...    about.html      ...

//      06 - Section About
//      07 - Section Meet Owners
//      08 - Section Owners

//      ...    shop.html      ...

//      09 - Section Featured
//      10 - Section Shop Content

//      ...    giftcard.html      ...

//      11 - gift card image

//      ...    tents.html      ...

//      11 - white tent image

//      ...    contact.html      ...

//      12 - Contact Hero
//      13 - Section Contact
//      14 - Section contact-content

//      01 - Global

.section {
    padding-top: 65px;

    .section-top-heading {
        font-size: 40px;
        line-height: 1.2;
    }

    .section-sub-title {
        font-size: 16px;
        text-transform: uppercase;
    }

}

// Section with 2 columns from index.html and about.html
.two-columns {
    @include min-768px {
        position: relative;
        margin: 65px 25px 25px;
        min-height: 550px;
    }

    @include min-1024px {
        margin: 65px 100px 25px;
    }

    .column-image {
        min-height: 440px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include min-768px {
            position: absolute;
            left: 0;
            width: 35%;
            z-index: 1;
            border-radius: 5px;
        }

    }

    .column-2 {
        padding-top: 45px;
        padding-bottom: 45px;
        background-color: $black-color;
        color: $white-text-color;
        line-height: 1.5;

        @include min-768px {
            position: absolute;
            width: 80%;
            right: 0;
            top: 0;
            padding: 45px 45px 45px 20%;
            border-radius: 5px;
            min-height: 100%;
        }

        .section-top-heading {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 16px;
        }

        p:nth-last-child(2) {
            margin-bottom: 0;
        }


    }
}

// 02 - Section Support
.support {

    @include min-768px {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @include min-1024px {
        padding-bottom: 65px;
    }

    .section-title-container {
        @include min-768px {
            flex-basis: 50%;
        }

        @include min-1024px {
            margin-bottom: 20px;
        }
    }



    p {
        font-size: 16px;
        margin-bottom: 10px;

        @include min-768px {
            flex-basis: 50%;
        }
    }

    .support-square-container {
        padding-top: 24px;
        border-radius: 5px;

        @include min-768px {
            flex-basis: 31%;
        }

        .support-square {
            position: relative;
            margin-bottom: 45px;
            background-color: $black-color;
            color: $white-text-color;
            min-height: 330px;
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            overflow: hidden;

            @include min-768px {
                font-size: 30px;
            }


            .support-square-number {
                position: absolute;
                left: 10%;
                top: 10%;
                z-index: 0;
            }

            .support-square-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                z-index: 0;
            }
        }

        .square-1::before {
            content: "";
            height: 160px;
            width: 160px;
            border-radius: 50%;
            border: 9px solid $white-text-color;
            position: absolute;
            bottom: -25%;
            right: -25%;

            @include min-600px {
                transform: translate(-25%, -5%);

            }
        }

        .square-2::before {
            content: "";
            height: 100px;
            width: 160px;
            border: 9px solid $white-text-color;
            position: absolute;
            bottom: -25%;
            right: -10%;
            transform: rotate(45deg);
        }

        .square-3::before {
            content: "";
            height: 140px;
            width: 140px;
            border: 9px solid $white-text-color;
            position: absolute;
            bottom: -20%;
            right: -20%;

            @include min-600px {
                transform: translate(-25%, -5%);

            }
        }
    }
}

//      03 - Section Safe

.safe {
    padding-bottom: 25px;
    background-image: linear-gradient(rgba(51, 51, 51, 0.5)), url(../img/safeMobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white-text-color;
    min-height: 550px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;

    @include min-1024px {
        padding-bottom: 80px;
        background-image: linear-gradient(rgba(51, 51, 51, 0.5)), url(../img/safeDesktop.jpg);
    }

    .safe-heading {
        font-size: 30px;
        margin: 20px 0 10px;
        line-height: 1.2;

        @include min-600px {
            font-size: 45px;
            width: 60%;
            margin-left: auto;
            margin-right: 0;
        }

    }

    .safe-paragraph {
        font-size: 13px;
        margin-bottom: 25px;
        width: 70%;
        margin-right: 0;
        margin-left: auto;

        @include min-600px {
            font-size: 18px;
            width: 55%;
            margin-left: auto;
            margin-right: 0;
        }
    }

    .btn {
        margin-right: 0;
        margin-left: auto;
    }


}

//      04 - Section Products
.section.products {
    text-align: center;

    .section-title-container {
        text-align: left;
    }

    .shop-products {
        margin: 40px 0;
        text-align: center;

        @include min-768px {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .product {
            margin: 40px 0;
            position: relative;

            @include min-768px {
                flex-basis: 49%;
            }

            @include min-1024px {
                flex-basis: 32%;
            }


            .shop-image {
                margin-bottom: 15px;
                border-radius: 5px;
                min-height: 350px;
                background-position: center;
                background-size: cover;
            }

            .shop-item-name {
                font-size: 20px;
            }

            .shop-item-price {
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 15px;

                span {
                    text-decoration: line-through;
                    color: $red-color;
                }
            }

            .shop-item-img-1 {
                background-image: url(../img/tentMobile.jpg);
            }

            .shop-item-img-2 {
                background-image: url(../img/backpackMobile.jpg);
            }

            .shop-item-img-3 {
                background-image: url(../img/bootsMobile.jpg);
            }
        }

        .sale::before {
            content: "SALE";
            font-size: 14px;
            padding: 5px 20px;
            background-color: $red-color;
            border-radius: 5px;
            color: $white-text-color;
            position: absolute;
            top: 2%;
            right: 5%;
        }

    }

}


//      05 - Section Shop Local
.two-columns {
    .shop-local-image {
        background-image: url("../img/shopLocalMobile.jpg");

    }



    p:last-child {
        font-weight: 700;

    }
}


//      06 - Section About
.section.about {
    text-align: center;

    .section-title-container {
        @include min-768px {
            width: 50%;
            margin: 0 auto;
        }
    }

    .about-paragraph {
        @include min-768px {
            width: 50%;
            margin: 0 auto;
            line-height: 1.5;
        }
    }

    .section-top-heading {
        margin-bottom: 20px;
    }


    .about-columns {
        padding: 65px 0;

        @include min-768px {
            display: flex;
            justify-content: space-between;
        }

        .about-column {
            margin-bottom: 65px;

            @include min-768px {
                flex-basis: 22%;
                text-align: left;
            }
        }

        .image {
            font-size: 48px;
            color: $red-color;
        }

        .about-title {
            font-size: 24px;
            margin: 20px 0 10px;
        }
    }
}

//      07 - Section Meet Owners
.meet-owners {
    .column-2 {
        padding: 90px 45px;

        @include min-768px {
            padding: 45px 45px 45px 20%;
        }
    }
}

//      08 - Section Owners

.owners {
    text-align: center;

    @include min-768px {
        margin: 65px 0;
    }

    @include min-768px {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .owner {
        @include min-768px {
            flex-basis: 35%;
        }
    }

    img {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .owner-name {
        font-size: 24px;
        margin: 20px 0 10px;
    }

    .owner-description {
        margin-bottom: 10px;
    }
}

// Section Hero Need Help
.hero.need-help {
    background-image: linear-gradient(transparent, $black-color), url(../img/needHelpMobile.jpg);

    @include min-1024px {
        min-height: 600px;
    }

    .hero-heading {
        @include min-768px {
            width: 30%;
        }
    }

    .hero-paragraph {
        width: 55%;

        @include min-1024px {
            width: 35%;
        }
    }

    .btn {
        width: 30%;
    }
}

//      09 - Section Featured
.hero.shop.announcement {
    min-height: 340px;

}

.featured {
    .shop-products {
        color: $white-text-color;

        @include min-768px {
            display: block;
        }

        .shop-item-img-1 {
            background-image: url(../img/tentMobile.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            @include min-1024px {
                background-image: url(../img/tentDesktop.jpg);
                background-position: center bottom;
            }
        }

        .shop-image {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            min-height: 300px;



            .btn {
                width: 180px;
                position: absolute;
                top: 3%;
                right: 3%;

            }

            .shop-item-name {
                position: absolute;
                bottom: 16%;
                left: 3%;
                font-size: 24px;
            }

            .shop-item-price {
                position: absolute;
                bottom: 6%;
                left: 3%;
                font-size: 16px;
            }
        }

    }
}



//      10 - Section Shop Content
.shop-content {
    @include min-1024px {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.shop-navigation {
    @include min-1024px {
        margin: 64px 0 40px;
        flex-basis: 24%;
    }

    .btn {
        width: 100%;
        text-align: left;
        margin: 10px 0;
        border: 1px solid $black-text-color;
    }
}

.shop-products {
    @include min-1024px {
        flex-basis: 72%;
    }
}

//      11 - gift card image
.product {
    .gift-card {
        background-image: url(../img/giftMobile.jpg);
    }
}

//      ...    tents.html      ...

//      11 - white tent image

.product {
    .white-tent {
        background-image: url(../img/whiteTentMobile.jpg);
    }
}

//      ...    contact.html      ...

//      12 - Contact Hero

.hero.contact {
    background-image: linear-gradient(transparent, $black-color), url(../img/needHelpMobile.jpg);

    @include min-1024px {
        background-image: linear-gradient(transparent, $black-color), url(../img/needHelpDesktop.jpg);
        min-height: 20px;
        padding-bottom: 0;
    }
}

.section.contact {
    .about-columns {
        @include min-1024px {
            width: 60%;
        }
    }
}


.contact-content {
    display: flex;
    justify-content: space-between;

    .contact-form {
        padding-top: 0;
        flex-basis: 70%;
    }
}

//      13 - Section Contact
.hero.contact {
    min-height: 390px;
}

.section.contact {
    background-color: $black-color;

    .section-top-heading {
        color: $white-text-color;
        text-align: left;
    }


    .about-columns.contact {
        padding-bottom: 5px;

        @include min-768px {
            justify-content: space-between;

            .about-column {
                background-color: $white-text-color;
                margin-top: 25px;
                padding: 40px;
                border-radius: 5px;

                @include min-768px {
                    flex-basis: 48%;
                    text-align: center;
                }



                .btn {
                    padding: 10px 10px;
                    margin-top: 20px;
                }
            }
        }
    }


}

//      14 - Section contact-content
.contact-details {
    .contact-details-title {
        font-size: 32px;
        margin: 20px 0 10px;
    }

    .contact-details-content {
        margin-bottom: 20px;
        line-height: 1.5;

        li {
            font-size: 16px;
            margin-top: 10px;
            font-style: normal;
        }

        li:nth-child(4) {
            margin-top: 40px;
        }

        li:last-child,
        li:nth-child(4) {
            font-weight: 700;


        }

        li {
            a {
                font-weight: normal;
                color: $black-text-color;
            }

        }
    }
}

.contact-form {
    padding: 25px 0 65px;

    .form-title {
        font-size: 32px;
        margin: 20px 0 10px;
    }

    .form-message {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .form-row {
        margin-bottom: 10px;

        label {
            margin-bottom: 5px;
            display: block;
        }

        input,
        textarea {
            display: block;
            width: 100%;
            padding: 8px 12px;
            border: 1px solid $black-color;
            border-radius: 5px;
            font-family: $font-stack;
        }

        textarea {
            resize: none;
        }



    }
}