//     Section content 

//      01 - Global
//      02 - Section Support
//      03 - Section Safe
//      04 - Section Products
//      05 - Section Shop Local


//      01 - Global
.section {
    padding-top: 65px;

    .section-top-heading {
        font-size: 40px;
        line-height: 1.2;
    }

    .section-sub-title {
        font-size: 16px;
        text-transform: uppercase;
    }

}

// 02 - Section Support
.support {

    p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .support-square-container {
        padding-top: 24px;

        .support-square {
            position: relative;
            margin-bottom: 45px;
            background-color: $black-color;
            color: $white-text-color;
            min-height: 330px;
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            overflow: hidden;

            .support-square-number {
                position: absolute;
                left: 10%;
                top: 10%;
                z-index: 0;
            }

            .support-square-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                z-index: 0;
            }
        }

        .square-1::before {
            content: "";
            height: 160px;
            width: 160px;
            border-radius: 50%;
            border: 9px solid $white-text-color;
            position: absolute;
            bottom: -25%;
            right: -25%;
        }

        .square-2::before {
            content: "";
            height: 100px;
            width: 160px;
            border: 9px solid $white-text-color;
            position: absolute;
            bottom: -25%;
            right: -10%;
            transform: rotate(45deg);
        }

        .square-3::before {
            content: "";
            height: 140px;
            width: 140px;
            border: 9px solid $white-text-color;
            position: absolute;
            bottom: -20%;
            right: -20%;
        }
    }
}

//      03 - Section Safe

.safe {
    padding-bottom: 25px;
    background-image: linear-gradient(rgba(51, 51, 51, 0.5)), url(../img/safeMobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white-text-color;
    min-height: 550px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;

    .safe-heading {
        font-size: 30px;
        margin: 20px 0 10px;
        line-height: 1.2;

    }

    .safe-paragraph {
        font-size: 13px;
        margin-bottom: 25px;
        width: 70%;
        margin-right: 0;
        margin-left: auto;
    }

    .btn {
        margin-right: 0;
        margin-left: auto;
    }


}

//      04 - Section Products

.shop-products {
    margin: 40px 0;
    text-align: center;

    .product {
        margin: 40px 0;
        position: relative;


        .shop-image {
            margin-bottom: 15px;
            border-radius: 5px;
            min-height: 350px;
            background-position: center;
            background-size: cover;
        }

        .shop-item-name {
            font-size: 20px;
        }

        .shop-item-price {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 15px;

            span {
                text-decoration: line-through;
                color: $red-color;
            }
        }

        .shop-item-img-1 {
            background-image: url(../img/tentMobile.jpg);
        }

        .shop-item-img-2 {
            background-image: url(../img/backpackMobile.jpg);
        }

        .shop-item-img-3 {
            background-image: url(../img/bootsMobile.jpg);
        }
    }

    .sale::before {
        content: "SALE";
        font-size: 14px;
        padding: 5px 20px;
        background-color: $red-color;
        border-radius: 5px;
        color: $white-text-color;
        position: absolute;
        top: 2%;
        right: 5%;
    }

}

//      05 - Section Shop Local
.shop-local {
    .shop-local-image {
        min-height: 440px;
        background-image: url("../img/shopLocalMobile.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .column-2 {
        padding-top: 45px;
        padding-bottom: 45px;
        background-color: $black-color;
        color: $white-text-color;
        line-height: 1.5;

        .section-top-heading {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 16px;
        }

        p:nth-last-child(2) {
            margin-bottom: 0;
        }

        p:last-child {
            font-weight: 700;

        }
    }
}