//     Section content 

//      01 - Global
//      02 - Section Support
//      03 - Section Safe
//      04 - Section Products
//      05 - Section Shop Local

//      ...    about.html      ...

//      06 - Section About
//      07 - Section Meet Owners
//      08 - Section Owners

//      ...    shop.html      ...

//      09 - Section Featured
//      10 - Section Shop Content

//      ...    giftcard.html      ...

//      11 - gift card image

//      ...    contact.html      ...

//      12 - Contact Hero
//      13 - Section Contact
//      14 - Section contact-content

//      ...    product-backpack.html      ...

//      15 - Section individual product
//      01 - Global

.section {
    padding-top: 65px;

    .section-top-heading {
        font-size: 40px;
        line-height: 1.2;
    }

    .section-sub-title {
        font-size: 16px;
        text-transform: uppercase;
    }

}

// Section with 2 columns from index.html and about.html
.two-columns {
    @include min-768px {
        position: relative;
        margin: 65px 25px 25px;
        min-height: 550px;
    }

    @include min-1024px {
        margin: 65px 100px 25px;
    }

    @include min-1920px {
        margin: 65px 300px 25px;
    }

    .column-image {
        min-height: 440px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include min-768px {
            position: absolute;
            left: 0;
            width: 35%;
            z-index: 1;
            border-radius: 5px;
        }

    }

    .column-2 {
        padding-top: 45px;
        padding-bottom: 45px;
        background-color: $black-color;
        color: $white-text-color;
        line-height: 1.5;

        @include min-768px {
            position: absolute;
            width: 80%;
            right: 0;
            top: 0;
            padding: 45px 45px 45px 20%;
            border-radius: 5px;
            min-height: 100%;
        }

        .section-top-heading {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 16px;
        }

        p:nth-last-child(2) {
            margin-bottom: 0;
        }


    }
}

// 02 - Section Support
.support {

    @include min-768px {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @include min-1024px {
        padding-bottom: 65px;
    }

    .section-title-container {
        @include min-768px {
            flex-basis: 50%;
        }

        @include min-1024px {
            margin-bottom: 20px;
        }
    }



    p {
        font-size: 16px;
        margin-bottom: 10px;

        @include min-768px {
            flex-basis: 50%;
        }
    }

    .support-square-container {
        padding-top: 24px;
        border-radius: 5px;

        @include min-768px {
            flex-basis: 31%;
        }

        .support-square {
            position: relative;
            margin-bottom: 45px;
            background-color: $black-color;
            color: $white-text-color;
            min-height: 330px;
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            overflow: hidden;

            @include min-768px {
                font-size: 30px;
            }

            @include min-1024px {
                min-height: 50vh;
            }


            .support-square-number {
                position: absolute;
                left: 10%;
                top: 10%;
                z-index: 0;
            }

            .support-square-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-transform: uppercase;
                z-index: 0;
            }
        }

        .square-1::before {
            content: "";
            height: 160px;
            width: 160px;
            border-radius: 50%;
            border: 9px solid $white-text-color;
            position: absolute;
            bottom: -25%;
            right: -25%;

            @include min-600px {
                transform: translate(-25%, -5%);

            }
        }

        .square-2::before {
            content: "";
            height: 100px;
            width: 160px;
            border: 9px solid $white-text-color;
            position: absolute;
            bottom: -25%;
            right: -10%;
            transform: rotate(45deg);
        }

        .square-3::before {
            content: "";
            height: 140px;
            width: 140px;
            border: 9px solid $white-text-color;
            position: absolute;
            bottom: -20%;
            right: -20%;

            @include min-600px {
                transform: translate(-25%, -5%);

            }
        }
    }
}

//      03 - Section Safe

.safe {
    padding-bottom: 25px;
    background-image: linear-gradient(rgba(51, 51, 51, 0.5)), url(../img/safeMobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white-text-color;
    min-height: 550px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;

    @include min-1024px {
        padding-bottom: 80px;
        background-image: linear-gradient(rgba(51, 51, 51, 0.5)), url(../img/safeDesktop.jpg);
    }

    .safe-heading {
        font-size: 30px;
        margin: 20px 0 10px;
        line-height: 1.2;

        @include min-600px {
            font-size: 45px;
            width: 60%;
            margin-left: auto;
            margin-right: 0;
        }

    }

    .safe-paragraph {
        font-size: 13px;
        margin-bottom: 25px;
        width: 70%;
        margin-right: 0;
        margin-left: auto;

        @include min-600px {
            font-size: 18px;
            width: 55%;
            margin-left: auto;
            margin-right: 0;
        }
    }

    .btn {
        margin-right: 0;
        margin-left: auto;
    }


}

//      04 - Section Products
.section.products {
    text-align: center;

    .section-title-container {
        text-align: left;
    }

    .shop-products {
        margin: 40px 0;
        text-align: center;



        @include min-768px {
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-between;
        }



        .card {
            position: relative;

            @include min-768px {
                flex-basis: 49%;
            }

            @include min-1024px {
                flex-basis: 30%;
                margin-right: 2%;
            }

            .card-bg-image.tent {
                background-image: url(../img/tentMobile.jpg);
            }

            .card-bg-image.backpack {
                background-image: url(../img/backpackMobile.jpg);
            }

            .card-bg-image.boots {
                background-image: url(../img/bootsMobile.jpg);
            }

            .card-bg-image.giftcard {
                background-image: url(../img/giftMobile.jpg);
            }

            .card-text {
                span {
                    text-decoration: line-through;
                    color: $red-color;
                }
            }

        }

        .sale::before {
            content: "SALE";
            font-size: 14px;
            padding: 5px 20px;
            background-color: $red-color;
            border-radius: 5px;
            color: $white-text-color;
            position: absolute;
            top: 2%;
            right: 5%;
        }

    }

}


//      05 - Section Shop Local
.two-columns {
    .shop-local-image {
        background-image: url("../img/shopLocalMobile.jpg");

    }



    p:last-child {
        font-weight: 700;

    }
}


//      06 - Section About
.hero.about {
    background-image: url("../img/aboutHeroMobile.jpg");

    @include min-1024px {
        background-image: url("../img/aboutHeroDesktop.jpg");
    }
}

.section.about {
    text-align: center;

    .section-title-container {
        @include min-768px {
            width: 50%;
            margin: 0 auto;
        }
    }

    .about-paragraph {
        @include min-768px {
            width: 50%;
            margin: 0 auto;
            line-height: 1.5;
        }
    }

    .section-top-heading {
        margin-bottom: 20px;
    }

    .cards.about {
        padding: 65px 0 20px;

        @include min-768px {
            display: flex;
            justify-content: space-between;
        }

        .card {
            margin-bottom: 45px;

            @include min-768px {
                flex-basis: 22%;
                text-align: left;
            }

            .card-icon {
                font-size: 48px;
                color: $red-color;
            }

            .card-title {
                font-size: 24px;
                margin: 20px 0 10px;
            }

            .card-text {
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
}

//      07 - Section Meet Owners
.meet-owners-image {
    background-image: url("../img/ownersMobile.jpg");

    @include min-1024px {
        background-image: url("../img/ownersDesktop.jpg");
    }
}

.meet-owners {
    .column-2 {
        padding: 90px 45px;

        @include min-768px {
            padding: 45px 45px 45px 20%;
        }
    }
}

//      08 - Section Owners

.owners {
    text-align: center;

    @include min-768px {
        margin: 65px 0;
    }

    @include min-768px {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .owner {
        @include min-768px {
            flex-basis: 35%;
        }
    }

    img {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .owner-name {
        font-size: 24px;
        margin: 20px 0 10px;
    }

    .owner-description {
        margin-bottom: 10px;
    }
}

// Section Hero Need Help
.hero.need-help {
    background-image: linear-gradient(transparent, $black-color), url(../img/needHelpMobile.jpg);
    min-height: 450px;

    @include min-1024px {
        min-height: 600px;
    }

    .hero-heading {

        @include min-768px {
            width: 30%;
        }
    }

    .hero-paragraph {
        width: 75%;

        @include min-768px {
            width: 55%;
        }

        @include min-1024px {
            width: 35%;
        }
    }

    .btn {
        width: 70%;
        padding: 5px;

        @include min-768px {
            width: 30%;
        }

        @include min-1024px {
            width: 15%;
        }

    }
}

//      09 - Section Featured


.featured {
    .featured-product {
        color: $white-text-color;
        position: relative;
        min-height: 300px;
        background-image: url(../img/tentMobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include min-1024px {
            background-image: url(../img/tentDesktop.jpg);
            background-position: center bottom;
        }

        .btn {
            width: 180px;
            position: absolute;
            top: 3%;
            right: 3%;

        }

        .product-name {
            position: absolute;
            bottom: 16%;
            left: 3%;
            font-size: 24px;
            font-weight: bold;
        }

        .product-price {
            position: absolute;
            bottom: 6%;
            left: 3%;
            font-size: 16px;
        }
    }
}



//      10 - Section Shop Content
.shop-content {
    @include min-1024px {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.shop-navigation {
    @include min-1024px {
        margin: 64px 0 40px;
        flex-basis: 24%;
    }

    .btn {
        width: 100%;
        text-align: left;
        margin: 10px 0;
        border: 1px solid $black-text-color;
    }
}



.shop-products {
    @include min-1024px {
        flex-basis: 72%;
    }

    .card {
        .card-bg-image.tent-1 {
            background-image: url(../img/whiteTentMobile.jpg);
        }
    }

    .card {
        .card-bg-image.giftcard {
            background-image: url(../img/giftMobile.jpg);
        }
    }
}

.shop-products.tents {
    .card {
        @include min-1024px {
            flex-basis: 80%;
        }

    }
}

.section.products.tents {
    .shop-products.tents {
        @include min-1024px {
            justify-content: flex-start;
        }
    }

    .card {
        @include min-1024px {
            margin-right: 2%;
        }
    }
}



//      ...    contact.html      ...

//      12 - Contact Hero

.hero.contact {
    background-image: linear-gradient(transparent, $black-color), url(../img/needHelpMobile.jpg);

    @include min-1024px {
        background-image: linear-gradient(transparent, $black-color), url(../img/needHelpDesktop.jpg);
        padding-bottom: 0;
    }

    .hero-heading {
        width: 80%;
        font-size: 38px;
        margin-bottom: 0;
        line-height: 1.2;
    }
}

.section.contact {
    padding-bottom: 35px;

    .contact-cards {
        @include min-768px {
            display: flex;
            justify-content: space-between;
        }

        @include min-1024px {
            justify-content: stretch;
        }

        .card {
            background-color: $white-text-color;
            margin: 25px 0;
            padding: 40px;
            border-radius: 8px;

            @include min-768px {
                flex-basis: 48%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            @include min-1024px {
                flex-basis: 38%;
                margin-right: 3%;
            }

            .card-icon {
                font-size: 48px;
                color: $red-color;
            }

            .card-title {
                font-size: 32px;
                margin: 20px 10px;
            }

            .card-text {
                margin-bottom: 10px;
                line-height: 1.5;
                font-size: 16px;
                font-weight: normal;
            }

            .btn {
                padding: 10px;
            }
        }
    }


    .about-columns {


        @include min-1024px {
            width: 60%;
        }

        .about-column {
            background-color: $white-text-color;
        }
    }
}


.contact-content {
    @include min-1024px {
        display: flex;
        justify-content: space-between;
    }


    .contact-form {
        @include min-1024px {
            padding-top: 0;
            flex-basis: 70%;
        }

    }
}

//      13 - Section Contact
.hero.contact {
    min-height: 390px;
}

.section.contact {
    background-color: $black-color;

    .section-top-heading {
        color: $white-text-color;
        text-align: left;
    }


    .about-columns.contact {
        padding-bottom: 5px;

        @include min-768px {
            justify-content: space-between;

            .about-column {
                background-color: $white-text-color;
                margin-top: 25px;
                padding: 40px;
                border-radius: 5px;

                @include min-768px {
                    flex-basis: 48%;
                    text-align: center;
                }



                .btn {
                    padding: 10px 10px;
                    margin-top: 20px;
                }
            }
        }
    }


}

//      14 - Section contact-content
.contact-details {
    .contact-details-title {
        font-size: 32px;
        margin: 20px 0 10px;
    }

    .contact-details-content {
        margin-bottom: 20px;
        line-height: 1.5;

        li {
            font-size: 16px;
            margin-top: 10px;
            font-style: normal;
        }

        li:nth-child(4) {
            margin-top: 40px;
        }

        li:last-child,
        li:nth-child(4) {
            font-weight: 700;


        }

        li {
            a {
                font-weight: normal;
                color: $black-text-color;
            }

        }
    }
}

.contact-form {
    padding: 25px 0 65px;

    .form-title {
        font-size: 32px;
        margin: 20px 0 10px;
    }

    .form-message {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .form-row {
        margin-bottom: 10px;

        label {
            margin-bottom: 5px;
            display: block;
        }

        input,
        textarea {
            display: block;
            width: 100%;
            padding: 8px 12px;
            border: 1px solid $black-color;
            border-radius: 5px;
            font-family: $font-stack;
        }

        textarea {
            resize: none;
        }



    }
}

//      15 - Section individual product backpac, yellow tent

.individual-product {
    padding-bottom: 40px;

    @include min-768px {
        display: flex;
        justify-content: space-between;
    }

    .product-bg-img {
        min-height: 350px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px;

        @include min-768px {
            flex-basis: 42%;
            max-height: 400px;
        }
    }

    .product-bg-img.backpack {
        background-image: url(../img/backpackMobile.jpg);
    }

    .product-bg-img.yellow-tent {
        background-image: url(../img/tentMobile.jpg);
    }

    .product-bg-img.white-tent {
        background-image: url(../img/whiteTentMobile.jpg);
    }

    .product-bg-img.boots {
        background-image: url(../img/bootsMobile.jpg);
        position: relative;
    }

    .product-bg-img.giftcard {
        background-image: url(../img/giftMobile.jpg);
    }

    .product-bg-img.boots::before {
        content: "SALE";
        position: absolute;
        width: 90px;

        padding: 10px 12px;
        text-align: center;
        z-index: 1;
        top: 5%;
        right: 10%;
        background-color: $red-color;
        color: $white-text-color;
        border-radius: 5px;
    }

    .product-price {
        span.sale {
            text-decoration: line-through;
            color: $red-color;
        }
    }

    .product-description {
        @include min-768px {
            flex-basis: 55%;
        }

        .product-name {
            font-size: 32px;
            margin: 20px 0 10px;
        }

        .product-price {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .quantity {
            margin-bottom: 5px;
        }

        .order-wrapper {
            display: flex;
            margin-bottom: 20px;


            input {
                width: 60px;
                text-align: center;
                padding: 8px 12px 8px 6px;
                border-radius: 5px;
                border: 1px solid $black-color;
            }

            .btn {
                color: $red-color;
                border: 1px solid $red-color;
                margin-left: 8px;
                font-weight: 700;

                &:hover {
                    background-color: $red-color;
                    color: $white-text-color;
                }
            }


        }

        .product-paragraphs {
            line-height: 1.5;

            p {
                margin-bottom: 20px;
            }
        }

        .tweet-link {

            p {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .btn {
                font-size: 16px;
                color: $white-text-color;
                background-color: #1b95e0;
                padding: 5px 10px 5px;
                border-radius: 5px;
                font-weight: normal;

                i {
                    margin-right: 6px;
                }
            }
        }
    }

}