.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $black-color;
    text-align: center;
    color: $white-text-color;
    padding: 20px;
    z-index: 2;
}