.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $black-color;
    text-align: center;
    color: $white-text-color;
    padding: 20px;
    z-index: 2;

    @include min-768px {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 110px;
    }

    @include min-1024px {
        min-height: 74px;
    }

    .btn {
        margin: 10px 15px 15px;
    }
}