.cart-container {

    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    // z-index: 5;
    z-index: -2;
    background-color: white;



    .cart-header {
        padding: 16px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        border-bottom: 1px solid #aaa;
    }

    .cart-items {
        padding: 100px 0;
        text-align: center;
    }
}

.cart-container.active {
    z-index: 5;
}