// 01 Page Announcement
// 02 Page About

// 01 Page Announcement

.hero.announcement {
    background-image: none;
    background-color: $black-color;
    min-height: 460px;

    .hero-heading {
        font-size: 38px;
        width: 100%;
    }

}

.section.announcement {
    .section-top-heading {
        font-size: 32px;
    }

    p {
        margin-top: 16px;
    }

    p:last-child {
        margin-bottom: 16px;
    }
}

// 02 Page About
.hero.about {
    background-image: url("../img/aboutHeroMobile.jpg");
}

.meet-owners-image {
    background-image: url("../img/ownersMobile.jpg");
}